body{
    cursor: pointer;
}
.calculator{
    margin: auto;
  width: 270px;
  padding: 10px;
  background-color: black;
  height: 450px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 4px 0px black;

  
}
table{
margin-top: 130px;
    border-spacing: 0px;   
    width: 100%;
    text-align:center;
    color: white;
}

span.light{
    margin-top: 150px;

    border-radius: 100%;
     width: 30px;
    height: 30px; 
    padding: 10px;
    background-color:#afafaf;
    color: black;
}
span.orange{
  
    border-radius: 100%;
     width: 30px;
    height: 30px; 
    padding: 10px;
    background-color: #f2a23b;
}
span.grey{

    border-radius: 100%;
     width: 30px;
    height: 30px; 
    padding: 10px;
    background-color: #323232;
}
span:link.grey, span:visited.grey, span:active.grey{
    background-color:  #323232;
    text-decoration: none;
    color: white;
    border-radius: 100%;  
}
span:hover.grey{
    background-color:  #878787;
}
span:link.orange, span:visited.orange, span:active.orange{
    background-color: #f2a23b;
    text-decoration: none;
    color: white;
    border-radius: 100%;
    
}
span:hover.orange{
    background-color: #fcc883;
}
span:link.light, span:visited.light, span:active.light{
    background-color: #afafaf;
    text-decoration: none;
    color: black;
    border-radius: 100%;
    
}
span:hover.light{
    background-color: white;
}


span:link.zero, button:visited.zero, span:active.zero{
    background-color: #323232;
    text-decoration: none;
    color: white;
    border-radius: 30px;

}
span:hover.zero{
    background-color:#878787;
    
}
span.zero{
    padding-left: 53px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    background-color: #323232;
    border-radius: 30px;
}
.vvod{
    position:absolute;
    top: 80px;
    right: 280px;
    color: white;
    font-size: 45pt;
}

.num{
    display:inline-flex;
    flex-flow: row wrap-reverse;
    /* flex-direction:column ; */
    justify-content: center;
    width: 50px;
    height: 50px;
     padding: 7px; 
     border-radius: 100%;
     font-size: 16pt;
 }
 .zero{
    display: inline-table;

 }
