body{
    cursor: pointer;
}
.calculator{
    margin: auto;
    width: 270px;
    padding: 10px;
    background-color: black;
    height: 450px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 4px 0px black;

  
}
table{
    margin-top: 130px;
    border-spacing: 0px;   
    width: 100%;
    text-align:center;
    color: white;
}

button.light{
    margin-top: 150px;
    border-radius: 100%;
    width: 50px;
    height: 50px; 
    padding: 10px;
    background-color:#afafaf;
    color: black;
}
button.orange{
    border-radius: 100%;
    width: 50px;
    height: 50px; 
    padding: 10px;
    background-color: #f2a23b;
}
button.grey{

    border-radius: 100%;
    width: 50px;
    height: 50px; 
    padding: 10px;
    background-color: #323232;
}
button:link.grey, button:visited.grey, button:active.grey{
    background-color:  #323232;
    text-decoration: none;
    color: white;
    border-radius: 100%;  
}
button:hover.grey{
    background-color:  #878787;
}
button:link.orange, button:visited.orange, button:active.orange{
    background-color: #f2a23b;
    text-decoration: none;
    color: white;
    border-radius: 100%;
    
}
button:hover.orange{
    background-color: #fcc883;
}
button:link.light, button:visited.light, button:active.light{
    background-color: #afafaf;
    text-decoration: none;
    color: black;
    border-radius: 100%;
    
}
button:hover.light{
    background-color: white;
}

button:link.zero, button:visited.zero, button:active.zero{
    background-color: #323232;
    text-decoration: none;
    color: white;
    border-radius: 30px;

}
button:hover.zero{
    background-color:#878787;
    
}
button.zero{
    padding-left: 53px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: #323232;
    border-radius: 30px;
}
.number{
    position:absolute;
    top: 80px;
    right: 280px;
    color: white;
    font-size: 45pt;
}

.num{
    display:inline-flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 7px; 
    border-radius: 100%;
    font-size: 16pt;
 }
 .zero{
    display: inline-table;
 }
 
button{
    color: white;
    font-size: 15pt;
    border: none;
    font-family: 'San Francisco';

}
.number{
    position: absolute;
    top: 60px;
    left: 275px;
    height: 70px;
    width: 230px;
    background-color: black;
    font-family: 'San Francisco';
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
input{
    text-align: right;
    outline:none;
}
